/**
 * Modular Gallery Block
 * Front-End SCSS
 **/


.pb-modular-gallery > .wp-block-folioblocks-pb-image-row {
	margin-bottom: 10px;
}

.pb-modular-gallery.no-row-gap > .wp-block-folioblocks-pb-image-row {
	margin-bottom: 0!important;
}
.no-row-gap .pb-image-row {
	overflow: hidden;
}

.pb-image-row {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.pb-image-row .wp-block-folioblocks-pb-image-block { 
	line-height: 0;
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.6s ease, transform 0.6s ease;
	flex: 0 0 auto;
	display: flex;
}
.pb-image-row img {
	height: 100% !important;
	object-fit: cover;
  }

  .pb-image-stack {
	margin: 0;
	padding: 0;
}

@media (max-width: 767px) {
	.pb-modular-gallery.collapse-on-mobile {
		.pb-image-block {
			width: 100% !important;
			height: auto !important;
			margin: 0 0 10px 0;
		}

		.pb-image-row {
			display: block;
		}

		.wp-block-folioblocks-pb-image-block,
		.wp-block-folioblocks-pb-image-stack {
			width: 100% !important;
			height: auto !important;
			margin: 0 0 10px 0;
		}
	}
}