/* Resize Portfolio Blocks icon in admin menu */
#adminmenu .toplevel_page_portfolio-blocks-settings .wp-menu-image img {
	width: 18px !important;
	height: auto !important;
	filter: invert(38%) sepia(99%) saturate(613%) hue-rotate(184deg) brightness(103%) contrast(94%);
}

/* Remove the filter when menu item is current or hovered */
#adminmenu .toplevel_page_portfolio-blocks-settings.current .wp-menu-image img,
#adminmenu .toplevel_page_portfolio-blocks-settings:hover .wp-menu-image img {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(355deg) brightness(106%) contrast(101%);
}

.settings-container {
    overflow: auto;
}

.settings-left {
	max-width: 800px;
    float: left;
	margin-right: 20px;
}

.settings-right {
	max-width: 300px;
    background: #f9f9f9;
	border: 1px solid #ccd0d4;
    border-radius: 8px;
	padding: 20px;
	height: 100%;
    float: left;
}
.settings-right ul li {
	margin-bottom: 16px;
}

.settings-features {
	display: flex;
	gap: 24px;
    margin: 0 auto;
	margin-bottom: 32px;
    width: 80%
}

.feature-column {
	flex: 1;
}
.feature-column ul {list-style-type: disc; padding-left: 20px;}
.feature-column ul li {
    margin-bottom: 8px;
}

.license-key-container {
	max-width: 80%;
    background: #f9f9f9;
	border: 1px solid #ccd0d4;
    border-radius: 8px;
	padding: 10px 20px;
	margin: 0 auto;
	margin-bottom: 40px;
    display: block;
}

.license-key-container input {
	max-width: 100%;
	margin-bottom: 12px;
}

