.wp-block-portfolio-blocks-justified-gallery-block {
	opacity: 1;
	transition: opacity 0.3s ease;

	&.is-loading {
		opacity: 0;
	}
}

/* Justified Gallery Container */ 
.pb-justified-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 0; // gap is now handled via --pb-margin

	.pb-image-block-wrapper {
		width: var(--pb-width);
		height: var(--pb-height);
		margin-right: var(--pb-margin, 10px);
		margin-bottom: var(--pb-margin, 10px);
		flex: 0 0 auto;
		display: flex;
		opacity: 0;
		transform: translateY(20px);
		transition: opacity 0.6s ease, transform 0.6s ease;

        .pb-image-block img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
	}
}

// Filter bar styles
.pb-image-gallery-filters {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
    padding-top: 1rem;
	margin-bottom: 1rem;

	&.align-left {
		justify-content: flex-start;
	}

	&.align-center {
		justify-content: center;
	}

	&.align-right {
		justify-content: flex-end;
	}

	.filter-button {
		font-family: var(--wp--preset--font-family--body, inherit);
		background: none;
		border: none;
		color: var(--pb--filter-text-color, #000);
		background-color: var(--pb--filter-bg-color, transparent);
		padding: 6px 12px;
		font-size: 14px;
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.2s ease;

		&.is-active {
			color: var(--pb--filter-active-text, #fff);
			background-color: var(--pb--filter-active-bg, #000);
		}
	}
}
.pb-image-block-wrapper.is-hidden {
	display: none !important;
}