/**
 * PB Loupe Block
 * Editor SCSS
 **/

 .pb-block-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #3B82F6;
	color: #fff; 
	
	svg { width: 100px; height: 100px; stroke: #fff; fill: #fff; }
}

.pb-img-thumbnail-preview {
	width: 60%;
	margin: 0 auto;
	display: block;

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}
