/**
 * PB Loupe Block
 * Front-End SCSS
 **/

.pb-loupe-block {
	margin: 0!important;
	padding: 0!important;
	line-height: 0!important;
	border-width: 0;
	border-style: solid;
	width: 100%;
    height: auto;
	overflow: hidden;
}
.pb-loupe-container img {
	display: block;
	width: 100%;
	object-fit: contain;
	border-radius: var(--wp--custom--border--radius, 0px);
}
.pb-loupe-container {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
}

.pb-loupe-lens {
	position: absolute;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
	pointer-events: none;
	background-repeat: no-repeat;
	overflow: hidden;
}
.pb-loupe-circle {
  border-radius: 50% !important;
}
.pb-loupe-square {
  border-radius: 12px !important;
}
.pb-loupe-light {
  border: 2px solid rgba(255,255,255,0.9) !important;
  box-shadow: 0 0 10px rgba(255,255,255,0.5) !important;
  background-color: rgba(255,255,255,0.15) !important;
}
.pb-loupe-dark {
  border: 2px solid rgba(0,0,0,0.7) !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
  background-color: rgba(0,0,0,0.3) !important;
}
