/**
 * Grid Gallery Block
 * Front-End SCSS
 **/


.wp-block-folioblocks-grid-gallery-block {
	opacity: 1;
	transition: opacity 0.3s ease;

	&.is-loading {
		opacity: 0;
	}
}

/* Grid Gallery Container */ 
.pb-grid-gallery {
    display: grid;
    overflow: hidden;
    grid-auto-rows: 1fr;
	grid-template-columns: repeat(var(--grid-cols-desktop), 1fr);

	@media (max-width: 1024px) {
		grid-template-columns: repeat(var(--grid-cols-tablet), 1fr);
	}

	@media (max-width: 768px) {
		grid-template-columns: repeat(var(--grid-cols-mobile), 1fr);
	}
}
.pb-grid-gallery .pb-image-block-wrapper {
    display: flex; 
    min-width: 85px;
    min-height: 85px;
    aspect-ratio: 1 / 1; /* Ensures the container remains square */
    justify-content: center;
    align-items: center;
    margin: 0;
	padding: 0;
    box-sizing: border-box;
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.6s ease, transform 0.6s ease;
}
.pb-grid-gallery .pb-image-block {
  box-sizing: content-box!important;
}

// Filter bar styles
.pb-image-gallery-filters {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
    padding-top: 1rem;
	margin-bottom: 1rem;

	&.align-left {
		justify-content: flex-start;
	}

	&.align-center {
		justify-content: center;
	}

	&.align-right {
		justify-content: flex-end;
	}

	.filter-button {
		font-family: var(--wp--preset--font-family--body, inherit);
		background: none;
		border: none;
		color: var(--pb--filter-text-color, #000);
		background-color: var(--pb--filter-bg-color, transparent);
		padding: 6px 12px;
		font-size: 14px;
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.2s ease;

		&.is-active {
			color: var(--pb--filter-active-text, #fff);
			background-color: var(--pb--filter-active-bg, #000);
		}
	}
}
.pb-image-block-wrapper.is-hidden {
	display: none !important;
}

