.pb-block-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #3B82F6;
	
	svg { width: 100px; height: 100px; fill: #fff; }
}

.pb-masonry-gallery.block-editor-block-list__layout {
    padding-bottom: 35px !important;
}
.pb-masonry-gallery .pb-image-block-wrapper {
	opacity: 1 !important;
	transform: none !important;
	transition: none !important;
}