/**
 * Masonry Gallery Block
 * Front-End SCSS
 **/


.wp-block-folioblocks-masonry-gallery-block {
	opacity: 1;
	transition: opacity 0.3s ease;

	&.is-loading {
		opacity: 0;
	}
}

/* Masonry Gallery Container */ 
.pb-masonry-gallery {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    column-gap: var(--column-gap, 10px);
    row-gap: var(--row-gap, 10px);
    grid-template-columns: repeat(var(--columns, 4), 1fr);
}
.pb-masonry-gallery .wp-block-folioblocks-pb-image-block {
	margin: 0!important; 
	padding: 0!important; 
	line-height: 0; 
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.6s ease, transform 0.6s ease;
}


// Filter bar styles
.wp-block-folioblocks-masonry-gallery-block .pb-image-gallery-filters {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding-top: 1rem;
	margin-bottom: 1rem;
	font-family: var(--pb-filter-font-family, inherit);
	font-size: var(--pb-filter-font-size, 16px);
	--pb-filter-decoration-active: none;
	--pb-filter-decoration-inactive: none;

	&.align-left {
		justify-content: flex-start;
	}

	&.align-center {
		justify-content: center;
	}

	&.align-right {
		justify-content: flex-end;
	}

	.filter-button {
		font-family: var(--pb-filter-font-family, inherit);
		font-size: var(--pb-filter-font-size, 16px);
		font-weight: var(--pb-filter-font-weight, 400);
		font-style: var(--pb-filter-font-style, normal);
		line-height: var(--pb-filter-line-height, 1.5);
		letter-spacing: var(--pb-filter-letter-spacing, 0px);
		text-transform: var(--pb-filter-text-transform, none);
		text-decoration: none;
		background: none;
		border: none;
		color: var(--pb--filter-text-color, #000);
		background-color: var(--pb--filter-bg-color, transparent);
		padding: 6px 12px;
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.2s ease;

		&.is-active {
			color: var(--pb--filter-active-text, #fff);
			background-color: var(--pb--filter-active-bg, #000);
			text-decoration: var(--pb-filter-decoration-active, none);
		}
	}

	.filter-button:not(.is-active) {
		text-decoration: var(--pb-filter-decoration-inactive, none);
	}

	/* If the chosen decoration is underline, decorate ONLY the active item. */
	&[style*="--pb-filter-text-decoration: underline"] {
		--pb-filter-decoration-active: underline;
		--pb-filter-decoration-inactive: none;
	}

	/* If the chosen decoration is line-through, decorate ONLY the non-active items. */
	&[style*="--pb-filter-text-decoration: line-through"] {
		--pb-filter-decoration-active: none;
		--pb-filter-decoration-inactive: line-through;
	}
}
.wp-block-folioblocks-pb-image-block.is-hidden,
.pb-image-block-wrapper.is-hidden {
	display: none !important;
}